Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
{% set deps = dependencies.rocky_common if dependencies.rocky_common is defined else [] %}
{% if dependencies.rocky is defined and dependencies.rocky[os_name] is defined %}
{% set deps = dependencies.rocky[os_name] %}
{% endif %}
Requires: {{ deps | join(',') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build
echo "Starting build process..."
pip3 install Cython==0.29.35
./configure --prefix=/usr
make

%install
echo "Starting install process..."
python3 setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES

%clean
rm -rf $RPM_BUILD_ROOT

%files -f INSTALLED_FILES

%changelog
* Thu Feb 20 2025 Jordan Keough <jkeough@45drives.com> 2.2.1-6
- build for new repos
* Mon Feb 03 2025 Brett Kelly <bkelly@45drives.com> 2.2.1-1
- initial release
